
<div class="center">

  <h1>Change Password</h1>

    <div class="outer_form_container">
      <div class="form_boundary">
        <%= render 'user_form' %>
      </div>
    </div>

  <%= link_to 'Back', @user %>

</div>
