<h1>About</h1>

<div class="outer_form_container">
  <div class="form_boundary" style="margin-top:20px">
    Application tracker is an app to keep track of your pending job applications and company contacts. Easily filter results based on search criteria
    
    <div style="margin-top:30px">
      <ul>
        <li>Homepage : <a href="https://github.com/at1as/application_tracker">https://github.com/at1as/application_tracker</a></li>
        
        <li>Report bugs to <a href="https://github.com/at1as/application_tracker/issues">GitHub</a></li>
      </ul>
    </div>

  </div>
</div>
