<%= month_calendar attribute: :start_day, events: events do |date, events| %>
          
  <div class="calendar-date"><%= date.day %></div>

  <% events.each do |event| %>
    <div>
      <%= "#{event.event_type} (" %><%= link_to "#{@companies.find(event.company_id).name}", user_company_path(@user, @companies.find(event.company_id)) %>)<br/> 
    </div>
  <% end %>

<% end %>
